    body {
    background-color: rgb(186, 186, 186);
    }


    .logo1 {
        height: 60px;
        padding: auto;
    }
    
    .fixed-top{
        z-index: 100;
    }
    .cards{
        margin-top: 120px;
        z-index: -10200;
        text-align: center;
    }

    .cards p{
        color: rgb(0, 0, 0);
        font-weight: 600;
        font-size: 30px;
        
    }


    .nav-link {
        font-weight: 600;
        color: black;
    }